@model MyPortfolioWebApp.Models.News

@{
    ViewData["Title"] = "Edit";
}


<section id="contact" class="contact section">

    <!-- Section Title -->
    <div class="container section-title" data-aos="fade-up">
        <h2>Edit</h2>
    </div>
    <div class="container" data-aos="fade-up" data-aos-delay="100">


        <div class="row" style="display: flex; justify-content: center;">
            <div class="col-md-4" style="display: flex; justify-content: center;">
                <form asp-action="Edit">
                    <div asp-validation-summary="ModelOnly" class="text-danger"></div>
                    <input type="hidden" asp-for="Id" />
                   
                    
                    <div class="form-group">
                        <label asp-for="Title" class="control-label"></label>
                        <input asp-for="Title" class="form-control" />
                        <span asp-validation-for="Title" class="text-danger"></span>
                    </div>
                    <div class="form-group">
                        <label asp-for="Description" class="control-label"></label>
                        @* <input asp-for="Description" class="form-control" /> *@
                        <textarea asp-for="Description" class="form-control  editor" rows="10" placeholder="Description"></textarea>
                       
                        <span asp-validation-for="Description" class="text-danger"></span>
                    </div>
                    
                    <br />
                    <div class="form-group" style="display: flex; justify-content: space-between">

                        <input type="submit" value="Edit" class="btn btn-success btn-sm btn-kelly"/>
                        <a asp-action="Index" class="btn btn-success btn-sm btn-kelly">Back to List</a>
                    </div>
                </form>
            </div>
        </div>
    </div>

</section>
@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
